* {
  margin: 0;
}

.header-container {
  align-items: center;
  background-color: #a5a5a5;
  display: flex;
  height: 12vh;
  justify-content: space-between;
  padding: 20px 30px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo-img {
  max-width: 180px;
  width: 15vw;
}

.cart-img {
  display: block;
  max-width: 80px;
  width: 8vw;
}

img:active {
  font-size: 1rem;
  transform: scale(0.97);
}

.cart-img-link-box {
  display: inline-block;
  position: relative;
}

.cart-amount {
  color: white;
  font-weight: 700;
  left: 82%;
  position: absolute;
  text-align: center;
  top: 23%;
  transform: translate(-50%, -50%);
}

